/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// invalid
.was-validated .form-control:invalid, .form-control.is-invalid{
  background-color: #f3a4b5;
}
